

.guestbook h2 {
    text-align: center;
   font-family: 'mls';
   color: white;
}

.guestbook-title {
    margin: 6.5rem auto;
}
.guestbook-title span{
    font-size: 5.5rem;
}


.guestbook .wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2.5rem;
    margin-top: -10rem;
}

.guestbook-entry {
    margin: 1.5rem 0 ;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -.1rem;
    padding: 1.8rem;
    max-width: 90rem;
    flex-basis: 33%;

}
.guestbook-entry > span.dream-text {
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: #bababa;
    border-bottom: 1px #949494 solid;
   padding-bottom: 1.5rem;
   display: flex;
   flex-wrap: wrap;
}

/* .guestbook-entry > span.dream-text:hover {
    transform: scale(1.1);
    cursor: pointer;
} */


@media only screen and (max-width: 76.8rem){
    .guestbook-entry {
        flex-basis: 50%;
    }
}

@media only screen and (max-width: 48rem){
    .guestbook-entry {
        flex-basis: 100%;
    }
}
.guestbook-entry > span {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    display: block;
    color: #949494;
    margin-top: 1.5rem;

}

