.menu{
    position: relative;
    font-size: 2.5rem;
    top: 1.5rem;
    z-index: 2;
}
.menu nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.menu nav ul li {
    list-style: none;
    padding:1.5rem;
    font-size: 2.5rem;
    font-family: 'nocturne-serif', serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -.1rem;
    cursor: pointer;
}

.menu nav ul li:hover {
    background: rgb(61,76,255);
    background: linear-gradient(94deg, rgba(61,76,255,1) 0%, rgba(247,0,148,1) 30%, rgba(94,51,242,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}