.quote {
    padding: 0 2.5rem;
    width: 100%;
    text-align: center;

}

.quote > span
{
    color: white;
    font-size: 8.5rem;
    font-family: 'The Philadelphia Story';
    line-height: 3.8rem;

}
.quote > span:hover{
    cursor: pointer;
}