.wild-flowers{
    width: 110rem;
    max-width: 100%;
    min-width: 25rem;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
 
}
.wild-flowers img {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: inherit;
    top: 8.5rem;
    z-index: 1;

    
}
